@font-face {
  font-family: 'Conv_Trajan_Pro_Regular';
  src: url("../fonts/trajan_pro_regular/3842211708.eot");
  src: local('â˜º'), url("../fonts/trajan_pro_regular/3842211708.woff") format('woff'), url("../fonts/trajan_pro_regular/3842211708.ttf") format('truetype'), url("../fonts/trajan_pro_regular/3842211708.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_AdobeGaramond_Pro_Regular';
  src: url("../fonts/adobe_garamond_pro_regular/9659608735.eot");
  src: local('â˜º'), url("../fonts/adobe_garamond_pro_regular/9659608735.woff") format('woff'), url("../fonts/adobe_garamond_pro_regular/9659608735.ttf") format('truetype'), url("../fonts/adobe_garamond_pro_regular/9659608735.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_AdobeGaramond_Pro_Bold';
  src: url("../fonts/adobe_garamond_pro_bold/2892871633.eot");
  src: local('â˜º'), url("../fonts/adobe_garamond_pro_bold/2892871633.woff") format('woff'), url("../fonts/adobe_garamond_pro_bold/2892871633.ttf") format('truetype'), url("../fonts/adobe_garamond_pro_bold/2892871633.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_AdobeGaramond_Pro_Italic';
  src: url("../fonts/adobe_garamond_pro_italic/7728082928.eot");
  src: local('â˜º'), url("../fonts/adobe_garamond_pro_italic/7728082928.woff") format('woff'), url("../fonts/adobe_garamond_pro_italic/7728082928.ttf") format('truetype'), url("../fonts/adobe_garamond_pro_italic/7728082928.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
*,
h1,
h2 {
  margin: 0;
}
img {
  display: block;
}
hr {
  border-top: 2px dotted #b4b3b4;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}
html,
body {
  height: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.db {
  display: block;
}
.nopadding {
  padding: 0 !important;
}
.nomargin {
  margin: 0 !important;
}
.text_arc,
.one-five p {
  padding-left: 18px;
  padding-top: 6px;
  font-family: 'Conv_AdobeGaramond_Pro_Bold';
  color: #cc3516;
}
.corner {
  position: absolute;
  height: 10px;
  width: 10px;
  border: 1px solid #cc3516;
  background-color: #fff;
}
.top_left_arc {
  top: -1px;
  left: -1px;
  border-radius: 0 0 100% 0;
  border-width: 0 1px 1px 0;
}
.bot_left_arc {
  top: 18px;
  left: -1px;
  border-radius: 0% 100% 0% 0%;
  border-width: 1px 1px 0px 0px;
}
.top_right_arc {
  top: -1px;
  left: 109px;
  border-radius: 0 0 0 100%;
  border-width: 0 0 1px 1px;
}
.bot_right_arc {
  top: 18px;
  left: 109px;
  border-radius: 100% 0% 0% 0%;
  border-width: 1px 0px 0px 1px;
}
.main_style {
  position: relative;
  width: 120px;
  height: 50px;
  border: 1px solid #cc3516;
  float: left;
}
.main_style.small .text_arc p:nth-child(1),
.main_style.large .text_arc p:nth-child(1) {
  font-size: 25px;
  line-height: 25px;
}
.main_style.small .text_arc p:nth-child(2),
.main_style.large .text_arc p:nth-child(2),
.one-five p {
  font-size: 12px;
  line-height: 12px;
}
.main_style.large .text_arc p {
  display: inline-block;
}
.main_style.small {
  width: 65px;
  margin-right: 20px;
}
.main_style.small .bot_left_arc,
.main_style.large .bot_left_arc,
.main_style.large .bot_right_arc {
  top: 39px;
}
.main_style.small .top_right_arc {
  left: 54px;
}
.main_style.small .bot_right_arc {
  top: 39px;
  left: 54px;
}
.main_style.large {
  width: 399px;
}
.main_style.large .top_right_arc,
.main_style.large .bot_right_arc {
  left: 388px;
}
.main_style.large .text_arc {
  padding: 12px 18px;
}
.main_style.large .text_arc p:nth-child(2) {
  float: right;
  line-height: 28px;
}
#site {
  width: 100%;
  min-height: 100%;
  position: relative;
}
.inside {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.clear {
  clear: both;
}
header#homepage {
  background: url("../img/hp-header.jpg") no-repeat top center;
  width: 100%;
  height: 570px;
  margin: 0;
}
nav#top a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #fff;
  padding: 0 10px;
}
nav#top .col-xs-6 {
  text-align: center;
}
nav#ribbon {
  background-position: 0 -382px;
  width: 1064px;
  height: 148px;
  margin: -3px auto 0 auto;
  padding: 57px 45px 0 65px;
  position: relative;
}
nav#ribbon a {
  font-family: 'Conv_Trajan_Pro_Regular';
  font-size: 12px;
  color: #040404;
  padding: 0 10px;
}
nav#ribbon div:nth-child(1) {
  transform: rotate(2.6deg);
  -ms-transform: rotate(2.6deg);
  -webkit-transform: rotate(2.6deg);
}
nav#ribbon div:nth-child(3) {
  transform: rotate(-2.6deg);
  -ms-transform: rotate(-2.6deg);
  -webkit-transform: rotate(-2.6deg);
}
#headlines-homepage {
  margin-top: 40px;
  margin-left: 420px;
  position: relative;
  width: 550px;
}
#headlines-homepage h2 {
  font-family: 'Conv_AdobeGaramond_Pro_Regular';
  font-size: 32px;
  color: #fff;
  font-weight: normal;
  letter-spacing: 12px;
  position: absolute;
  top: 14px;
  left: 78px;
}
#headlines-homepage h1 {
  font-family: 'Conv_AdobeGaramond_Pro_Italic';
  font-size: 75px;
  color: #fff;
  font-weight: normal;
}
#headlines-homepage h1 span {
  font-size: 106px;
}
#headlines-homepage p {
  font-family: 'Conv_AdobeGaramond_Pro_Regular';
  font-size: 20px;
  color: #fff;
  padding-left: 40px;
  line-height: 22px;
  margin-top: -12px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
}
header {
  background: url("../img/int_header.png") no-repeat top center;
  width: 100%;
  height: 411px;
  margin-bottom: -67px;
  position: relative;
  z-index: 2;
}
#headlines {
  padding-top: 40px;
}
#headlines p:nth-child(1) {
  font-family: 'Conv_AdobeGaramond_Pro_Regular';
  font-size: 70px;
  color: #fff;
  line-height: 70px;
  letter-spacing: 6px;
}
#headlines p:nth-child(2) {
  font-family: 'Conv_AdobeGaramond_Pro_Bold';
  font-size: 31px;
  color: #fff;
  line-height: 31px;
  letter-spacing: 22px;
}
footer {
  background: url("../img/footer-pattern.jpg") repeat;
  padding: 60px 0 50px 0;
  font-family: 'Conv_AdobeGaramond_Pro_Regular';
  position: relative;
  width: 100%;
}
footer a {
  font-size: 16px;
  color: #ffd7ba;
}
footer span {
  font-size: 14px;
  color: #8e8078;
  margin-right: -20px;
}
ul {
  padding: 0;
}
footer ul li {
  list-style-type: none;
}
main {
  background: url("../img/main-pattern.jpg") repeat;
  min-height: 100%;
  overflow: auto;
  padding-top: 77px;
  padding-bottom: 53px;
  overflow: hidden;
}
main#homepage {
  padding-top: 0px;
  margin-bottom: -63px;
}
main.contact {}
main.contact p { font-family: 'Conv_AdobeGaramond_Pro_Regular'; font-size: 18px; }
main.contact p strong { font-family: 'Conv_AdobeGaramond_Pro_Bold'; font-weight: normal; }

p.title, h1.title {
  font-family: 'Conv_AdobeGaramond_Pro_Regular';
  font-size: 36px;
  color: #cc3516;
}
p.desc, a.desc {
  font-family: 'Conv_AdobeGaramond_Pro_Regular';
  font-size: 18px;
  color: #262626;
}
a.more {
  font-family: 'Conv_AdobeGaramond_Pro_Bold';
  font-size: 11px;
  color: #cc3516;
  text-decoration: underline;
}
p.title.large, h1.title.large {
  font-size: 50px;
  line-height: 50px;
  font-weight: normal;
  margin-bottom: 20px;
}
p.desc.large, a.desc.large {
  font-size: 20px;
}
.hexagon {
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}
.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
  display: block;
}
.hexagon-in2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #000;
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.hexagon2 {
  width: 180px;
  height: 360px;
  margin: -80px 0 0 20px;
  position: absolute;
  top: -44px;
  left: -15px;
}
#thing {
  height: 112px;
  width: 194px;
  border-radius: 3px;
  position: relative;
  border-right: 2px dotted #aeaeb0;
  border-left: 2px dotted #aeaeb0;
  color: #e0e0e0;
}
#thing:before {
  content: ' ';
  z-index: 1;
  position: absolute;
  height: 108px;
  width: 108px;
  top: -54px;
  left: 40px;
  right: 0;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
  -webkit-transform: rotate(45deg) skew(-15deg, -15deg);
  border-top: 2px dotted #aeaeb0;
  border-left: 2px dotted #aeaeb0;
}
#thing:after {
  content: " ";
  position: absolute;
  height: 108px;
  z-index: 1;
  width: 108px;
  bottom: -54px;
  left: 40px;
  right: 0;
  border-radius: 3px;
  -webkit-transform: rotate(45deg) skew(-15deg, -15deg);
  border-bottom: 2px dotted #aeaeb0;
  border-right: 2px dotted #aeaeb0;
}
.hexa {
  padding: 60px 0;
  width: 194px;
  margin: 0 auto;
}
.hexa .image-container { padding-top: 70px; overflow: hidden; }
.sprite {
  background: url("../img/sprites.png") no-repeat;
}
.separator-top {
  background-position: 0px 0px;
  width: 717px;
  height: 75px;
  margin: 30px auto;
}
.separator-bot {
  background-position: 0px -75px;
  width: 518px;
  height: 65px;
  margin: 30px auto;
}
.dots-pattern {
  background: url("../img/dots-pattern.png") repeat;
  width: 82px;
  height: 78px;
  position: absolute;
  top: 4px;
  left: 4px;
}
.dots-pattern.big {
  width: 140px;
  height: 132px;
  top: 5px;
  left: 5px;
}
.dots-under img {
  z-index: 1;
  position: relative;
}
.dots-under {
  position: relative;
  float: left;
}
p.time {
  font-size: 13px;
  color: #cc3516;
  margin-top: 16px;
  clear: left;
}
.events,
.events ul li,
.preaches,
p.common,
p.time,
.text-aside {
  font-family: 'Conv_AdobeGaramond_Pro_Bold';
}
.preaches {
  padding-left: 20px;
  float: left;
}
.preaches ul li {
  margin: 10px 0;
}
.preaches a {
  color: #000000;
  font-size: 15px;
}
#homepage .events {
  width: 225px;
}
.events {
  float: left;
  width: 288px;
  padding: 10px 0 5px 20px;
}
.events p.category,
.events a:nth-child(1),
.events ul li,
.text-aside p:nth-child(1) {
  font-size: 10px;
  color: #cc3516;
  letter-spacing: 1px;
  float: left;
}
.events p.category { display: block; }
.events ul {
  margin-left: 20px;
}
.events ul li,
p.grey {
  color: #666;
}
.events a.title { display: block; }
.events p:nth-child(2),
.events p:nth-child(4),
.events a.title,
p.common {
  font-size: 15px;
  color: #262626;
  line-height: 15px;
}
.events p:nth-child(2) {
  clear: left;
}
.events a:nth-child(3) {
  font-size: 16px;
  line-height: 16px;
  color: #262626;
  text-decoration: none;
  float: left;
}
.events p:nth-child(4) {
  font-family: 'adobe_garamond_pro_regular';
}
.center {
  text-align: center;
  margin: 0 auto;
}
.one-five {
  float: left;
  margin: 15px 6px 15px 0;
  text-align: center;
  width: 194px;
}
.one-five a.more {
  font-size: 12px;
  text-decoration: none;
}
span.arrow-right {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #cc3516;
  display: inline-block;
  margin-left: 6px;
}
.one-five p {
  padding: 0;
  display: inline-block;
}
.gallery {
  float: left;
  position: relative;
  border-top: 0;
  margin: 5px;
  display: block;
  text-align: center;
}
.media .gallery { 
  width: 183px;
  height: 160px;
}
.gallery img {
  border: 4px solid #fff;
  -webkit-box-shadow: 0px 1px 2px 0px #6d6d6d;
  -moz-box-shadow: 0px 1px 2px 0px #6d6d6d;
  box-shadow: 0px 1px 2px 0px #6d6d6d;
}
.gallery p {
  font-family: "adobe_garamond_pro_regular";
  font-size: 14px;
  color: #262626;
  margin-top: 5px;
  margin-bottom: -10px;
}
.gallery:after {
  content: '\A';
  position: absolute;
  width: 167px;
  height: 117px;
  top: 4px;
  left: 4px;
}
.gallery:hover:after {
  opacity: 0.8;
  background-image: url("../img/sprites.png");
  background-position: -140px -140px;
}
.media .gallery:hover:after {
  opacity: 1.0;
  background: none;
}
a.dashed {
  color: #cc3516;
  font-family: 'adobe_garamond_pro_regular';
  font-size: 12px;
  border: 1px dashed #cc3516;
  padding: 10px 0;
  display: block;
  cursor: pointer;
  margin-top: 10px;
}
p.red, a.red {
  color: #cc3516;
  line-height: 20px;
  text-decoration: none;
}
.watch-more {
  background-color: #cc3516;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 65px;
  border-bottom: 4px solid #a32b12;
  position: relative;
  font-family: 'adobe_garamond_pro_regular';
  font-size: 12px;
}
.watch-more span:nth-child(1) {
  background-position: -16px -272px;
  width: 23px;
  height: 14px;
  position: absolute;
  top: 12px;
  left: 38px;
}
.watch-more span:nth-child(2) {
  padding-left: 9px;
}
a.watch-more:hover {
  text-decoration: none;
  color: #fff;
}
.dropdown {
  margin-bottom: 20px;
}
.dropdown select {
  padding: 7px 55px 6px 16px;
  margin: -4px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #cc3516 url("../img/dropdown_arrow.png") no-repeat;
  background-position: 90% 50%;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  border-bottom: 4px solid #a32b12;
  position: relative;
  font-family: 'adobe_garamond_pro_regular';
  font-size: 12px;
}
.dropdown select#id_hour { margin: 0; }
#top .sides {
  float: left;
  text-align: center;
  width: 50%;
}
.social-center {
  padding-top: 55px;
}
.calendar p.common {
  padding-top: 25px;
}
.calendar p.common a {
  color: #000000;
}
.calendar article {
  padding: 10px 0;
}
.dots-under.large .dots-pattern {
  top: 8px;
  left: 8px;
  width: 390px;
  height: 260px;
}
.dots-under.large img {
  border: 5px solid #fff;
}
.items {
  float: left;
  clear: left;
}
.items .dots-pattern {
  width: 108px;
  height: 70px;
}
.items a.prev,
.items a.next {
  background-position: 0 -272px;
  display: block;
  width: 8px;
  height: 26px;
  float: left;
  margin: 40px 6px;
}
.items a.next {
  background-position: -8px -272px;
  float: right;
}
.items ul {
  float: left;
}
.items ul li {
  list-style-type: none;
  float: left;
  display: inline;
}
a.item {
  float: left;
  margin: 16px 8px;
}
.item .dots-under img,
.preach .dots-under img {
  border: 0;
  z-index: 0;
}
.item .dots-pattern {
  width: 108px;
  height: 72px;
}
.item:after {
  content: '\A';
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 69px;
}
.item:hover:after {
  background-position: -315px -140px;
}
.play-t {
  background-image: url("../img/transparent-play.png");
  width: 140px;
  height: 132px;
  position: absolute;
  z-index: 2;
  opacity: 0.5;
}
.events.preach {
  width: 282px;
}
.preach ul {
  margin-left: 0px;
}
.preach ul li {
  list-style-type: none;
}
.preach p:nth-child(3) {
  font-size: 20px;
  line-height: 20px;
}
.preach p:nth-child(4) {
  font-size: 14px;
  color: #cc3516;
}
.text-aside {
  padding: 20px 0 20px 20px;
  width: 190px;
}
.text-aside p:nth-child(2) {
  font-size: 22px;
  clear: left;
}
.inactive .hexa, .inactive a.more, .inactive span.arrow-right {
  opacity: 0.3;
}
.hexa.large {
  width: 223px;
  padding: 70px 0;
}
.hexa.large .hexagon2 {
  width: 206px;
  height: 377px;
  left: -13px;
}
.hexa.large #thing:before {
  top: -62px;
  height: 124px;
  width: 125px;
  left: 47px;
}
.hexa.large #thing:after {
  width: 125px;
  height: 124px;
  bottom: -61px;
  left: 47px;
}
.hexa.large #thing {
  width: 223px;
  height: 131px;
}
.center-margin {
  margin: 0 auto;
}
.fancy-separator {
  background: url("../img/fancy-sep.png") repeat-x;
  height: 23px;
  position: relative;
  z-index: 2;
}
.homepage-bottom-section {
  width: 100%;
  height: 500px;
  position: relative;
  font-family: 'Conv_Trajan_Pro_Regular';
  background-repeat: none;
}
.homepage-bottom-section .fancy-separator { top: -10px; }
.homepage-bottom-section.wedding {
  background: url("../img/nunta.jpg")  50% 0;
  margin-top: 30px;
}
.baptism {
  margin: -12px auto;
  background: url("../img/botez.jpg")  50% 0;
}
.wedding .text,
.baptism .text {
  position: absolute;
  text-align: center;
}
.wedding .text {
  top: 160px;
  left: 670px;
  color: #fff;
}
.wedding .text a.more {
  color: #ffedc3;
}
.wedding .text p:nth-child(1),
.baptism .text p:nth-child(1) {
  font-size: 26px;
  line-height: 26px;
}
.wedding .text p:nth-child(2),
.baptism .text p:nth-child(2) {
  font-size: 59px;
  line-height: 59px;
}
.wedding .text p:nth-child(3),
.baptism .text p:nth-child(3) {
  font-size: 34px;
  line-height: 34px;
}
.baptism .text {
  top: 160px;
  left: 50px;
  color: #000;
}

a.back-to-hp {
  position: absolute;
  width: 165px;
  height: 130px;
  top: 0px;
  left: 450px;
}
.gallery-container {
  padding: 0 15px;
}
.col-md-12 {
  margin-top: 25px;
}
section {
  margin-bottom: 30px
}
.schedule .col-md-5 {
  margin-top: 50px;
}
.white_box .top {
  background-position: -421px -140px;
  width: 288px;
  height: 19px;
}
.white_box .bot {
  background-position: -421px -159px;
  width: 288px;
  height: 25px;
}
.white_box .mid {
  width: 290px;
  background: #fff;
  padding: 20px 25px;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}
.dropdown.calendar {
  margin: 0;
  padding-bottom: 5px;
}
.dropdown.calendar select {
  margin: -4px 0px 0px 12px;
  background-position: 76px 14px;
}
hr.solid {
  border-top: 1px solid #e6e6e6;
}
ul.months {
  list-style-type: none;
  float: left;
}

ul.months li a {
  font-family: "Conv_AdobeGaramond_Pro_Regular";
  font-size: 18px;
  color: #cc3516;
  text-decoration: none;
}
ul.months li a.active {
  font-family: "Conv_AdobeGaramond_Pro_Bold";
  color: #656565;
}
p.day-letters {
  font-size: 12px !important;
}
p.day-number {
  font-size: 25px !important;
  text-align: center;
  width: 26px;
}
.sf p.common {
  padding: 0;
  font-size: 17px;
}
.sf p.grey {
  padding-top: 22px;
  font-size: 10px;
  font-family: "Conv_AdobeGaramond_Pro_Bold";
}
.calendar.page .text_arc {
  padding-top: 2px;
}
.paperpen {
  background-position: -420px -245px;
  width: 118px;
  height: 137px;
}
.reflection {
  background-position: -421px -184px;
  width: 194px;
  height: 61px;
}
.wed-bap {
  padding-top: 10px;
  text-align: center;
}
.wed-bap p {
  padding: 15px 0; 
  font-family: "Conv_Trajan_Pro_Regular";
  font-size: 20px;
  color: #cc3516;
}
#form-schedule {
  padding-top: 30px;
}
#form-schedule label {
  width: 100%;
  float: left;
  color: #262626;
  font-family: "Conv_AdobeGaramond_Pro_Regular";
  font-size: 18px;
}
#form-schedule input {
  border: 1px solid #999;
  width: 290px;
  height: 38px;
  padding: 0 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.icon-calendar {
  position: relative;
}
.icon-calendar span.sprite {
  width: 21px; 
  height: 25px;
  background-position: -39px -272px;
  top: 31px;
  right: 70px;
  position: absolute;
}
.icon-calendar input {
  font-family: "Conv_AdobeGaramond_Pro_Regular";
  font-size: 18px;
  color: #262626;
}
.hour-interval {
  border: 2px solid #999;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "Conv_AdobeGaramond_Pro_Regular";
  font-size: 18px;
  color: #999;
  padding: 5px 6px;
  margin-right: 5px;
}
.hour-interval.active {
  border: 2px solid #cc3516;
  color: #cc3516;
}
.top-margin {
  margin-top: 15px;
}
*:focus {
  outline: 0;
}
input.watch-more {
  border-bottom: 4px solid #a32b12 !important;
  font-size: 18px;
  margin-top: 20px;
  width: 221px !important;
  height: 41px !important;
}
.section .col-md-3 { height: 350px; }
.papers-disclamer {
  margin-top: 40px;
  font-family: "Conv_AdobeGaramond_Pro_Regular";
  font-size: 18px;  
}
.papers-disclamer p {

}

.papers-disclamer ul {
  margin-top:10px;
  list-style-position: inside;
}

.event { margin: 5px 40px; }
.event article p { display: block; clear: both; }
.event article p.title a { font-size: 20px; color: #000000; font-family: "Conv_AdobeGaramond_Pro_Bold"; line-height: 20px; }

.usefull-links { background-color: #ffffff; width: 100%; padding: 13px 0 20px 0; }
.usefull-links ul { margin: 0; padding: 0; list-style-type: none; }
.usefull-links ul li { float: left; width: 159px; height: 69px; margin: 7px 7px 0 0; border-radius: 3px; overflow: hidden; }

#map-canvas { width: 100%; height: 350px; border: 3px solid rgba(0, 0, 0, .1); border-radius: 3px; }

#ocrotitorii p.desc a, #biserica p.desc a { color: #cc3516; }